:root {
  --dark: #0d1c2e;
  --blue: #2a8bf2;
  --pink: #ff3366;
  --grey: #707c97;
  --lightBlue: #e6ecfe;
  --white: #fafbff;
  --pureWhite: #ffffff;
  --lightGrey: rgba(0, 0, 0, 0.24);
  --textGrey: rgba(0, 0, 0, 0.7);
  --pink500: #ff336650;
}

body {
  background-color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
  border-radius: 8px;
  transition: all 200ms ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}
